.header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f05252;
  padding: 3rem 5%;
}

.logo {
  font-size: 2rem;
  color: #321c4e;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #321c4e;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

/* 
#321c4e

#f1f1f1
#aea3b8

#f05252 */
